[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django-debug-toolbar = "*"
sqlalchemy = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"
geopy = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.9"
